@import url('https://fonts.googleapis.com/css?family=Lato');

* {
    margin: 0;
    padding: 0;
}

:root {
    --main-bg-color: #2c3e50;
    --main-txt-color: #2ecc71;
}

body {
    font-family: 'Lato', sans-serif;
}

#showcase {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("./action-ball-field-274506.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;  
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.main-nav {
    background: var(--main-bg-color);
    border-bottom: solid 3px var(--main-txt-color);
}

.main-nav--items {
    display: flex;
    list-style-type: none;
    color: var(--main-txt-color);
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 10vh;
    justify-content: center;
}

.main-nav--items li {
    padding: 0 20px 0 20px;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.register-button {
    text-decoration: none;
    background: var(--main-txt-color);
    color: white;
    width: 40vw;
    max-width: 500px;
    min-width: 300px;
    height: 3rem;
    margin-top: 30px;
    padding-top: 1rem;
    text-align: center;
    border-radius: 10px;
    font-size: 1.5rem;
    opacity: 0;
    animation: fade-in-down ease 0.5s forwards;
}

.slogan-container {
    padding-left: 15px;
    opacity: 0;
    animation: fade-in-right ease 1s forwards;
}

.slogan-container h1 {
    color: white;
    font-size: 3rem;
    margin-bottom: 20px;
    letter-spacing: 2px;
    text-align: center;
}

.slogan-container p {
    color: white;
    margin-bottom: 5px;
    font-size: 2.5rem;
    text-align: center;
    letter-spacing: 1px;
    word-spacing: 4px;
}

.learn-more {
    color:white;
    position: absolute;
    bottom: 10%;
    margin-left: 47%;
    font-size: 2rem;
}

#show-more-image {
    bottom: 5%;
    position: absolute;
    height: 10%;
}

#features-section {
    display: flex;
    flex-direction: column;
    align-content: center;
    background: var(--main-bg-color);
    border-top: solid 3px var(--main-txt-color);
    height: 88vh;
    box-sizing: border-box;
}

@keyframes fade-in-right {
    from {
      opacity: 0;
      transform: translateX(-15px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
}

@keyframes fade-in-down {
    from {
      opacity: 0;
      transform: translateY(-15px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}

.fade-in-right--on-viewport {
    animation: fade-in-right ease 1s forwards;
}


#features-section h2 {
    color: var(--main-txt-color);
    font-size: 3rem;
    word-spacing: 3px;
    letter-spacing: 2px;
    text-align: center;
    opacity: 0;
}

.features-container {
    display: flex;
    height: 58vh;
    justify-content: space-around;
    align-items: center;
    padding: 0 100px 0 100px;
}

.features-container h3 {
    margin-top: 20px;
}


#features-section h3 {
    color: var(--main-txt-color);
    width: 250px;
    font-size: 1.8rem;
    text-align: center;
}

.features-container p {
    color: var(--main-txt-color);
    width: 250px;
    font-size: 1.3rem;
    margin-top: 20px;
    text-align: justify;
    line-height: 145%;
}

.feature-icon {
    padding-left: 22%;
    width: 140px;
    height: 140px;
}

#overview-navigation {
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
    color: var(--main-bg-color);
    height: 12vh;
}

.overview-navigation-item-container {
    display: flex;
    align-items: center;
    height: 12vh;
    width: 100%;
    justify-content: center;
    color: var(--main-bg-color);
    background: var(--main-txt-color);
}

.overview-navigation-item-container:hover,
.overview-navigation-item-container:hover a {
    background: #2bbe69;
}

.overview-navigation-item-container.active-item:hover a {
    background: var(--main-bg-color);
    color: var(--main-txt-color);
}

.overview-navigation-item-container:active,
.overview-navigation-item-container:active a,
.overview-navigation-item-container.active-item {
    background: var(--main-bg-color);
    color: var(--main-txt-color);
}

.flex-vertical-align {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15vh;
}

.how-it-works-image {
    height: 3rem;
    margin: 0 10px;
}

#overview-container {
    height: 88vh;
    background: var(--main-bg-color);
}

.overview {
    display: none;
}

.overview.active-overview {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 88vh;
    width: 60vw;
    margin: 0 auto;
}

.overview div {
    color: var(--main-txt-color);   
    font-size: 5rem;
    height: 100px;
    width: 10%;
    text-align: center;
}

.overview li {
    display: flex;
    align-items: center;
    margin: 3rem 0;
}

.overview p {
    color: var(--main-txt-color);
    font-size: 1.8rem;
    line-height: 145%;
    letter-spacing: 2px;
    padding: 1.5rem;
    width: 90%;
}